*.elc
.cask
.org-id-locations
*~
ac-comphist.dat
emacs.el
*#
.#*
emacs.pdf
emacs.tex
url/cookies
emacs.html
backups
bookmarks
elisp
semanticdb
tramp
bin
xkcd
elpa
url
.emacs.desktop*
.python-environments
/bbdb
image-dired
/eshell/history
/eshell/lastdir
/speed-type/
/target/
/org-clock-save.el
/projectile-bookmarks.eld
/projectile.cache
custom.el
/places
recentf
history
/games
/smex-items
/owp-temp.d
/Cask-bare
/Cask.ori
/anaconda-mode
/request
/org-gcal
/init-*
/babel
/cask-bare.el
/emacs.el.ori
/emacs.pl
/emacsel-std
/custom.el
/emojis/
/nov-places
/savefile/
/snippets/
/.cache/
/network-security.data
/quelpa
